cryptography
fastapi
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-genai
httpx
loguru
pydantic-settings
pypdf2
python-docx
python-dotenv
python-jose
python-multipart
qdrant-client
redis
resend
supabase
uvicorn
websockets
